@media only screen and (max-width: 750px) {
   .navigationMenuRegular{
       display: none;
   }

   }

    nav ul {
        list-style-type: none;
        margin: 4px;
        display: flex;
        flex-direction: row;
        justify-self: start;
        justify-content: center;
        align-items: center;
        padding: 0px;
        overflow: hidden ;
        
    }


    nav li a {
        color: inherit;
        display: block;
        text-align: center;
        padding: 10px 25px;
        text-decoration: none;
    }


    nav li a:hover {
        background-color: rgba(121, 127, 133, 0.596);
        color: #000;
        text-decoration: none;
        border-radius: 50px;
    }

    @media only screen and (min-width: 751px) {
        .navigationMenuSmall{
        display: none;
    }
}